<html>
<head>
  <title>Todolist</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="content">
    <h1 class="text-center">Todolist</h1>

    <form class="form offset-md-3" method="post" action="/new">
      Add a task :
      <input type="text" name="taskName"/>
      <button class="btn btn-primary" type="submit">Add</button>
    </form>

    {% if todolist is defined %}
      <div class="row">
        <div class="offset-md-3 col-md-6">
          <table class="table table-striped">
            {% for i, task in todolist %}
              <tr>
                {% if task.done %}
                  <td>
                    <s>{{task.name}}</s>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-primary disabled" disabled>Mark as done</button>
                    <form method="post" action="/delete">
                      <input type="hidden" name="taskid" value="{{i}}"/>
                      <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                  </td>
                {% else %}
                  <td>
                    {{task.name}}
                  </td>
                  <td>
                    <form method="post" action="/done">
                      <input type="hidden" name="taskid" value="{{i}}"/>
                      <button type="submit" class="btn btn-sm btn-primary">Mark as done</button>
                    </form>
                    <form method="post" action="/delete">
                      <input type="hidden" name="taskid" value="{{i}}"/>
                      <button type="submit" class="btn btn-sm btn-primary">delete</button>
                  </form>
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    {% endif %}
  </div>
</body>
</html>
